html[data-theme="light"] {
  --logo-color: #4c4c4c;
  --icon-color: #848484;
  --header-color: #e8e6e2;
  --background-color: #eeeeee;
  --header-font-color: #333333;
  --header-outline-color: #8c8c8c;
}

html[data-theme="dark"] {
  --logo-color: #0eeaff;
  --icon-color: #00838f;
  --header-color: #30343a;
  --background-color: #3c4149;
  --header-font-color: #e5e5e5;
  --header-outline-color: #8c8c8c;
}
