@import "./variables.scss";

.header-container {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header-profile {
  display: flex;
  width: 25vw;
  justify-content: space-between;
}

.logo {
  color: var(--logo-color);
  cursor: pointer;
}

.search-icon {
  color: var(--icon-color);
  cursor: pointer;
}

.person-icon {
  color: var(--icon-color);
  cursor: pointer;
  .person-icon-background {
    color: var(--header-color);
  }
}
