@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "./variables.scss";

.header-container {
  background-color: var(--header-color);
}

.header-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.logo {
  color: var(--logo-color);
  margin-left: 2em;
  cursor: pointer;
}

.header-profile {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
}

.search-field {
  border: 2px var(--header-outline-color) solid;
  border-right: none;
  font-size: 16px;
  color: var(--header-font-color);
  width: 30vw;
  border-radius: 30px 0 0 30px;
  padding: 0.6em 2em 0.6em 1em;
  margin-right: -30px;
  background-color: var(--header-color);
  &:focus {
    outline: none;
    border-color: var(--icon-color);
  }
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.search-button {
  background-color: var(--icon-color);
  width: 10vw;
  min-width: 5em;
  max-width: 75px;
  padding: 0.2em 1em;
  border: none;
  border-radius: 30px;
  &:focus {
    outline: none;
  }
}

.search-icon {
  color: var(--header-color);
  cursor: pointer;
}

.person-icon {
  margin-right: 2em;
  color: var(--icon-color);
  cursor: pointer;
  align-self: center;
  .person-icon-background {
    color: var(--header-color);
  }
}
